body {text-align:center;
    font-family: 'Roboto', sans-serif;

}

header div {text-align:left;
    box-shadow: 10px 5px 5px grey;
    background-color:#00669F;
    
}

header div p {background-color:#1CD1B0;
    padding: 10px;

}

h1 {font-size:50px;
    padding-bottom: 30px;
    padding-left: 15px;
    
}

section article {display:inline-block;
   width:300px;
   padding:20px; 
}

article div {background-color:#F3F3F3;
}

div.texto {position:relative;
    bottom:50px;
    padding-bottom:10px;
    
    

}

img.foto {border-radius:50%;
    position:relative;
    bottom: 60px;

}

button {color:white;
    background-color:#00669F;
    padding-right:15px;
    padding-left:15px;
    padding-top:7px;
    padding-bottom:7px;

}

.corazon {position:relative;
    z-index:1;
    top:50px;
    right:120px;}


footer {background-color:#00669F;
padding: 5px;
text-align:left;
color:white;}

.mas {width:50px;
height:50px;
position:fixed;
margin-left: 1110px;
margin-top:90px;}

@media (max-width: 500px){
    section.articulos {
    display:inline-flex;
    flex-direction:column;
}
article p {font-size:1rem;}
.mas {width:20px;
height:20px;}
}




