h1 { background-color:beige;}

h2 { background-color:#fca50d;
    font-size: 25px;
    font-family:'Trebuchet MS';
}

body { background-color:#cccfdb;
    font-family:'Segoe UI';
}

#foto-titulo { text-align:center;
    background-color: azure;
}

#telefono {text-align:center;
}

img { width:26%;
}

p { font-weight:bold;
}

span {font-weight:bold;}