header {background-color:#222222;
}

header {display:flex;
flex-direction:row;
justify-content:space-between;
padding:20px;
}

header li {display:inline-flex;
    justify-content:space-evenly;
    width: 115px;
    font-size:20px;
    color:white;
}

